<br>
<div style="border: solid 1px green">
  <h2>New User sample #3 code...</h2>

<form (ngSubmit)="submit($event)" [formGroup]="userForm">
  <div>
    <label>firstname</label>
    <input formControlName="firstname">
  </div>
  <div>
    <label>lastname</label>
    <input formControlName="lastname">
  </div>
  <button type="submit">Enregistrer</button><button type="submit">Reset</button>
</form>
<br>
<h3>
    <br>vers coucou Page (contient deux children) ou Module Coucou
    <br><a href="" [routerLink]='["/coucou/child1"]'>vers Coucou Child1 :-)</a>
    <br><a href="" [routerLink]='["/coucou/child2/1"]'>vers Coucou Child2 / User #1 :-)</a>
    <br><a href="" [routerLink]='["/coucou/child2/2"]'>vers Coucou Child2 / User #2 :-)</a>
    <br><a href="" [routerLink]='["/module"]'>vers le module CoucouModule :-)</a>
</h3>
</div>