
  <h1>
    {{ title }} !
  </h1>
  <h2 i18n>Test affichage I18N</h2> 
  <p [textContent]="title"></p>
   <input type="text" #name>
  <span style="font-weight:bold; color: green">{{name.value}}</span> 
  <button (click)="onClick($event, name.value)">click here !</button>
<hr>

  <br>

  <label>Firstname : </label><input type="text" #firstname>
  <br>
  <label>Lasttname : </label><input type="text" #lastname>
  <br>
  <button (click)="addUser(firstname.value, lastname.value)">Add new user !</button><button (click)="clearUsers()">Clear All !</button>
  <hr>
  <br>

  <div *ngIf="users.length===0">
    Pas d'utilisateur connu !
  </div>
  
  <label>filter firstname : </label><input type="text" #firstnameFilter>
  <button (click)="setFilter(firstnameFilter.value)">Filtre!</button>
  <!-- éviter les valeurs hardcodées au niveau des pipes !!!-->
  <div *ngFor="let user of users | userrole:firstnameValueFilter; let i = index">
      <!-- {{i}} {{user.firstname}} {{user.lastname}} -->
      <app-user [anUser]="user" [anIndex]="i" (userSelected)="deleteUser(user)" appHighlight [color]="'green'" appLog [logText]="'log'"></app-user>  
      <!-- <button (click)="deleteUser(user)">Delete this user !</button> -->
  </div>
  <hr>
  <div><app-user-form-by-template></app-user-form-by-template></div>
  
  <router-outlet></router-outlet>